In [1]:
import pandas as pd

In [2]:

def get_category(file_name):
    df = pd.read_json(file_name)
    data = pd.json_normalize(df['items'])
    return data[['id','snippet.title']]


df = pd.read_csv("/home/james/python_practice/archive/CAvideos.csv")
tag = get_category("/home/james/python_practice/archive/CA_category_id.json")

## 轉型 方便 Join 時候結合
df['category_id']=df['category_id'].astype(int)
tag['id']=tag['id'].astype(int)

## join 語法 指定join欄位
result = pd.merge(df,tag,left_on ='category_id',right_on='id')
display(result)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,id,snippet.title
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyoncé i...,10,Music
1,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,🎧: https://ad.gt/yt-perfect\n💰: https://atlant...,10,Music
2,H1KBHFXm2Bg,17.14.11,21 Savage - Bank Account (Official Music Video),21 Savage,10,2017-11-10T19:00:02.000Z,"21 savage|""bank account""|""21 savage bank accou...",5068229,263596,8585,28976,https://i.ytimg.com/vi/H1KBHFXm2Bg/default.jpg,False,False,False,Watch the official music video of Bank Account...,10,Music
3,7MxiQ4v0EnE,17.14.11,Daang ( Full Video ) | Mankirt Aulakh | Sukh S...,Speed Records,10,2017-11-11T16:41:15.000Z,"punjabi songs|""punjabi bhangra""|""punjabi music...",5718766,127477,7134,8063,https://i.ytimg.com/vi/7MxiQ4v0EnE/default.jpg,False,False,False,Song - Daang\nSinger - Mankirt Aulakh\nFaceboo...,10,Music
4,j67FgNEvyh8,17.14.11,Telefoon || Babbu Maan || Promo || Full Song 1...,Hey Yolo,10,2017-11-12T04:24:34.000Z,"Telefoon|""Babbu Maan""|""Mehfil Mitran Di""|""new ...",178447,4339,96,876,https://i.ytimg.com/vi/j67FgNEvyh8/default.jpg,False,False,False,"Full Song Out Now 15th November\n\nHey Yolo, S...",10,Music
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40802,l7E0kTvARsA,18.01.06,Golak Bugni Bank Te Batua Full Movie (HD) | Ha...,Rhythm Boyz,30,2018-05-31T13:30:04.000Z,"full movie|""full punjabi movie""|""golak""|""bugni...",781977,22027,783,1096,https://i.ytimg.com/vi/l7E0kTvARsA/default.jpg,False,False,False,Rhythm Boyz Entertainment & Hayre Omjee Studio...,30,Movies
40803,l7E0kTvARsA,18.02.06,Golak Bugni Bank Te Batua Full Movie (HD) | Ha...,Rhythm Boyz,30,2018-05-31T13:30:04.000Z,"full movie|""full punjabi movie""|""golak""|""bugni...",2289027,41807,1811,2153,https://i.ytimg.com/vi/l7E0kTvARsA/default.jpg,False,False,False,Rhythm Boyz Entertainment & Hayre Omjee Studio...,30,Movies
40804,l7E0kTvARsA,18.03.06,Golak Bugni Bank Te Batua Full Movie (HD) | Ha...,Rhythm Boyz,30,2018-05-31T13:30:04.000Z,"full movie|""full punjabi movie""|""golak""|""bugni...",3523444,52355,2520,3000,https://i.ytimg.com/vi/l7E0kTvARsA/default.jpg,False,False,False,Rhythm Boyz Entertainment & Hayre Omjee Studio...,30,Movies
40805,l7E0kTvARsA,18.04.06,Golak Bugni Bank Te Batua Full Movie (HD) | Ha...,Rhythm Boyz,30,2018-05-31T13:30:04.000Z,"full movie|""full punjabi movie""|""golak""|""bugni...",4638549,60148,3160,3441,https://i.ytimg.com/vi/l7E0kTvARsA/default.jpg,False,False,False,Rhythm Boyz Entertainment & Hayre Omjee Studio...,30,Movies
40806,l7E0kTvARsA,18.05.06,Golak Bugni Bank Te Batua Full Movie (HD) | Ha...,Rhythm Boyz,30,2018-05-31T13:30:04.000Z,"full movie|""full punjabi movie""|""golak""|""bugni...",5661965,67232,3784,3851,https://i.ytimg.com/vi/l7E0kTvARsA/default.jpg,False,False,False,Rhythm Boyz Entertainment & Hayre Omjee Studio...,30,Movies

In [3]:
data = result[['snippet.title','dislikes']]
data = data.rename({'snippet.title': 'category'}, axis=1) 
display(data)

      category  dislikes
0        Music     43420
1        Music     21082
2        Music      8585
3        Music      7134
4        Music        96
...        ...       ...
40802   Movies       783
40803   Movies      1811
40804   Movies      2520
40805   Movies      3160
40806   Movies      3784

[40807 rows x 2 columns]

In [4]:
## 聚合 category 的dislike數量
group = data.groupby('category')['dislikes'].sum().reset_index('category')
## 排序 dislike 數量
group = group.sort_values(by='dislikes',ascending=False)

## 新增排序序號
group = group.reset_index(drop=True)
display(group.head(10))

               category  dislikes
0         Entertainment  25791583
1                 Music  22098190
2        People & Blogs   9480796
3                Comedy   5372515
4                Sports   3286369
5       News & Politics   3264041
6      Film & Animation   3111259
7                Gaming   2446882
8  Science & Technology   1791153
9         Howto & Style   1730520

In [7]:
cast_df=group.select(group["category"])
display(group)

AttributeError: 'DataFrame' object has no attribute 'select'